---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SafeGuard Kids">
	<div class="grid grid-cols-2">
		<div class="col-span-1">
			<h2>
				Centro de acción
			</h2>
			<div class="">
				<ul>
					<li>
						<label class="switch">
							<input type="file">
						</label>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-span-1">
			<h2>
				¿Qué es SafeGuard Kids?
			</h2>
			<div class="">

			</div>
		</div>
	</div>
</Layout>

<style>
</style>
