---
import Layout from '../layouts/Layout.astro';

interface Props {
	page: string;
}
---

<Layout title="SafeGuard Kids - notificaciones">
	<ul role="list" class="divide-y divide-gray-100">
		<li class="flex justify-between gap-x-6 py-5">
			<div class="flex min-w-0 gap-x-4">
				<div class="min-w-0 flex-auto">
					<p class="text-sm font-semibold leading-6 text-gray-900">Entro a casa "Padre"</p>
				</div>
			</div>
			<div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
				<p class="mt-1 text-xs leading-5 text-gray-500">Hace <time datetime="2023-01-23T13:23Z">3h ago</time></p>
			</div>
		</li>
		<li class="flex justify-between gap-x-6 py-5">
			<div class="flex min-w-0 gap-x-4">
				<div class="min-w-0 flex-auto">
					<p class="text-sm font-semibold leading-6 text-gray-900">Entro a casa "Usuario 1"</p>
				</div>
			</div>
			<div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
				<p class="mt-1 text-xs leading-5 text-gray-500">Hace <time datetime="2023-01-23T13:23Z">3h ago</time></p>
			</div>
		</li>
		<li class="flex justify-between gap-x-6 py-5">
			<div class="flex min-w-0 gap-x-4">
				<div class="min-w-0 flex-auto">
					<p class="text-sm font-semibold leading-6 text-gray-900">Entro a casa "Usuario 1"</p>
				</div>
			</div>
			<div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
				<div class="mt-1 flex items-center gap-x-1.5">
					<div class="flex-none rounded-full bg-emerald-500/20 p-1">
						<div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
					</div>
					<p class="text-xs leading-5 text-gray-500">Justo ahora</p>
				</div>
			</div>
		</li>
		<li class="flex justify-between gap-x-6 py-5">
			<div class="flex min-w-0 gap-x-4">
				<div class="min-w-0 flex-auto">
					<p class="text-sm font-semibold leading-6 text-gray-900">Entro a casa "Usuario 1"</p>
				</div>
			</div>
			<div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
				<p class="mt-1 text-xs leading-5 text-gray-500">Hace <time datetime="2023-01-23T13:23Z">3h ago</time></p>
			</div>
		</li>
		<li class="flex justify-between gap-x-6 py-5">
			<div class="flex min-w-0 gap-x-4">
				<div class="min-w-0 flex-auto">
					<p class="text-sm font-semibold leading-6 text-gray-900">Entro a casa "Usuario 1"</p>
				</div>
			</div>
			<div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
				<p class="mt-1 text-xs leading-5 text-gray-500">Hace <time datetime="2023-01-23T13:23Z">3h ago</time></p>
			</div>
		</li>
		<li class="flex justify-between gap-x-6 py-5">
			<div class="flex min-w-0 gap-x-4">
				<div class="min-w-0 flex-auto">
					<p class="text-sm font-semibold leading-6 text-gray-900">Salio de casa "Usuario 1"</p>
				</div>
			</div>	
			<div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
				<div class="mt-1 flex items-center gap-x-1.5">
					<div class="flex-none rounded-full bg-emerald-500/20 p-1">
						<div class="h-1.5 w-1.5 rounded-full bg-red-500"></div>
					</div>
					<p class="text-xs leading-5 text-gray-500">Justo ahora</p>
				</div>
			</div>
		</li>
	</ul>
</Layout>