---
import Layout from '../layouts/Layout.astro';
import ReminderWrapper from '../components/Reminder/ReminderWrapper.jsx';

interface Props {
	page: string;
}
---

<Layout title="SafeGuard Kids - Recodatorios">
	<div class="flex flex-col">
		<ReminderWrapper client:load />
	</div>
</Layout>
