---
import Layout from '../layouts/Layout.astro';

interface Props {
	page: string;
}
---

<Layout title="SafeGuard Kids - Recodatorios">
	<main>
		<h1>
            Recodatorios
		</h1>
	</main>
</Layout>