---
import Layout from '../layouts/Layout.astro';
import TodoApp from '../components/TodoApp';

interface Props {
	page: string;
}

---

<Layout title="SafeGuard Kids - Recodatorios">
	<main>
		<TodoApp />
	</main>
</Layout>


