---

---
<div class="hidden md:flex p-2 bg-white md:w-60 flex-col" id="sideNav">
    <nav class="flex flex-col">
        <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white" href="/">
            <i class="fas fa-home mr-2"></i>Inicio
        </a>
        <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white" href="/notificaciones/">
            <i class="fas fa-file-alt mr-2"></i>Notificaciones
        </a>
        <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white" href="/camaras/">
            <i class="fas fa-users mr-2"></i>Camaras
        </a>
        <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white" href="/recodatorios/">
            <i class="fas fa-store mr-2"></i>Agendar recordatorios
        </a>
    </nav>

    <!-- Ítem de Cerrar Sesión -->
    <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white mt-auto" href="#">
        <i class="fas fa-sign-out-alt mr-2"></i>Cerrar sesión
    </a>

    <!-- Señalador de ubicación -->
    <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mt-2"></div>
</div>
